{% extends 'header.html' %}
{% block title %}
  Cancel ticket
{% endblock title %}
{% block content %}
  <div style="background-color:rgb(96, 191, 123);width: 400px;margin-left: 12cm;margin-top: 2cm;" class="rounded" >
    <form action="" class="rounded">
        <h5 class="text-center text-primary-emphasis">Cancel Ticket</h5>
      <div class="col- pr-3">
        <label for="pnr" class="form-label  text-light">Input your PNR:</label>
        <input type="text" class="form-control">
      </div>
      <div class="text-center mt-2 pb-2">
        <button class="btn btn-primary ">Cancel Ticket</button>
      </div>
    </form>
  </div>
{% endblock content %}