<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>PNR Status</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body class="bg-primary-subtle">

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>


    <header class="p-3 bg-primary">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
         
  
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/dashboard" class="nav-link px-2 text-white">Home</a></li>
            <li><a href="" class="nav-link px-2 text-white">Train Schedules</a></li>
            <li><a href="/PNR status" class="nav-link px-2 text-white">PNR Status</a></li>
            <li><a href="/cancel ticket" class="nav-link px-2 text-white">Cancel Ticket</a></li>
            <li><a href="/about us" class="nav-link px-2 text-white">About</a></li>
            <li><a href="/feedback" class="nav-link px-2 text-white">Feedback</a></li>
          </ul>
  
         
  
          <div class="ms-10">
            <b> Welcome {{ User }}!</b>
            <button type="Submit"  class="btn btn-warning mx-1"><a href="/logout/" style="text-decoration: none;" >Sign-out</a></button>
          </div>
        </div>
      </div>
    </header>
  

  <div style="background-color: rgb(176, 194, 233);width: 400px;margin-left: 12cm;margin-top: 2cm;" class="rounded" >
    <form action="" class="rounded" method="POST">
      {% csrf_token %}
      <h5 class="text-center text-primary-emphasis">PNR Status</h5>
      <div class="col-10 mx-3 pr-3">
        <label for="pnr" class="form-label  text-light">Input your PNR:</label>
        <input type="text" class="form-control" name="pnr" placeholder="Input pnr">
      </div>
      <div class="text-center mt-2 pb-2">
        <button class="btn btn-primary ">Check PNR</button>
      </div>
    </form>
    </div>
    {% if ticket %}
      <table class="table table-striped table-responsive " style="width: 100%; margin-top :50px;">  
       
  <thead >  
      <tr> 

        <th scope="col">PNR Number</th>  
        <th scope="col">Train Number</th>
        <th scope="col">Source Station</th>  
        <th scope="col">Destination Station</th>    
        <th scope="col">Departure  date&Time</th>   
        <th scope="col">Arrival  date&Time</th> 
        <th scope="col"> Class</th>
        <th scope="col">Fare </th>
        
      </tr>
  </thead>
  
      {% for tkt  in ticket %}
  <thead>
      <tr class="tr">
        
          <td > {{ tkt.PNR_NO }}</td>
          <td >{{ tkt.train_no }}</td>
          <td >{{ tkt.depart_station }}</td>
          <td >{{ tkt.arrival_station }}</td> 
          <td> {{ tkt.departure_datetime }} </td>
          <td>{{ tkt.arrival_datetime }} </td>
          <td> {{ tkt.class_id }}</td>
          <td>{{ tkt.fare }}</td>
      </tr>
      {% endfor %}
  </thead>
 


    </table>
    <table class="table table-striped table-responsive " style="width: 100%">  
    
      
        <tr > 
          <h4 style="text-align: center; margin-top: 30px; margin-bottom: 30px;">Passenger Info</h6>
      
          <th scope="col">Passenger name</th>  
          <th scope="col">Passenger Age</th>
          <th scope="col">Gender</th>
        <th>Seat no</th>
        </tr>
        {% if paxs %}
        {% for pax in paxs %}
        {% for tkt in ticket %}
          <tr class="tr">
            <td>{{pax.name}}</td>
            <td>{{pax.age}}</td>
            <td>{{pax.gender}}</td>
            <td>{{pax.seat_no}} /{{tkt.coach_no}}</td>
          </tr>
        {% endfor %}
        {% endfor %}
        {% else %}
            <h1 style="color: red;">No Passengers added yet! Please add a passenger.</h1>
        {% endif %}
        
    {% if messages %}
    {% for message in messages %}
      {{ message }
    {% endfor %}
    {% endif %}
    </table>
    {% endif %}
  
</body>