<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Available trains</title>
</head>
<body>
       <div>
        <!-- search_results.html -->

<h2>Search Results</h2>
<!-- 
{% if trains %}
    <ul>
        {% for train in trains %}
            <li>{{ train.name }} - {{ train.source }} to {{ train.destination }}</li>
        {% endfor %}
    </ul>
{% else %}
    <p>No trains found.</p>
{% endif %} -->



       </div>
    
</body>
</html>