<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>search for train </title>
</head>
<body>
    <form id="searchtrainform" class="row g-3 figure  mx-5 mt-5" style="width: 500px; background-color:cadetblue;" action=""  method="post">
        {% csrf_token %}
          <h3 class="text-center text-primary-emphasis">BOOK TICKET</h3>
          <div class="col-12">
          
            <input type="text" class="form-control" id="source" placeholder="Source">
          </div>
          <div class="ms-5 ps-5">
                   <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-up" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5m-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5"/>
                  </svg>
          </div>
          <div class=" col-12">
            <input type="text" class="form-control" id="destination" placeholder="Destination">
          <div>
            <div class="col-12 pt-5">      
            <input type="date" class="form-control" id="date" placeholder="">
          </div>
          <div class="col-12 pt-5">
            <select id="class" class="form-select">
              <option selected>All Classes</option>
              <option>Fisrt AC</option>
              <option>Second AC</option>
              <option>Third AC</option>
              <option>Sleeper</option>
              
            </select>
          </div>
          <div class="mt-4 text-center mb-2">
            <button type="submit" class="btn btn-primary" onclick="search()">Search</button>
          </div>
      
      
      
      </form>
      <script>
        function search(){
          source = document.getElementById("source").value;
          destination=document.getElementById("destination").value;
          date=document.getElementById("date").value;
          cls=document.getElementById("class").value;
          if(source!="" & destination!="" & date!="")
            window.location.href="/search?src="+source+"&dest="+destination+"&d="+date+"&cls="+cls; 
          else
            alert("Please fill all the fields");  
            /* var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
              if (this.readyState ==  4 && this.status == 200) {
                console.log(this.responseText);
              }
            };
            xhttp.open("GET", "/search?" + "src=" + source + "&dest=" + destination + "&d=" + date, true);
            xhttp.send(); */
           // return false;
          }
      
      </script>
      
</body>
</html>