<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <!-- Add your CSS links or styles here -->
</head>
<body>
    <div id="content">
    <!-- trainschedule.html -->




  <h1>Train Schedule</h1>
  <form action="" method="post">
  {% csrf_token %}
  <div>
  <label>Enter Train_no</label>
  <input type="number" name="trn_no" id="trn_no">
  <input type="submit" value="Submit">
  </div>
</form>
    <!-- Add your JavaScript links or scripts here -->
</body>
</html>
